.behance {
    position: absolute;
    left: 80%;
    top: 2%;
    z-index: 3;
}

    .mail {
        position: absolute;
        
        right: 80%;
        top: 2%;
    
        z-index: 3;
        font-size: 18px;}
 
 .instagram {
 position: absolute;
 left: 90%;
 top: 2%;
 z-index: 3;
 }

 .phone {
    position: absolute;
    
    right: 90%;
    top: 2%;
  
    z-index: 3;
font-size: 18px;
}